{% extends 'partials/base.html.twig' %}

  {% block content %}
    <div id="front-banner">
        <h1 class="front-banner-text">{{site.title}}</h1>
        <h2 class="front-banner-text">{{site.author.name}}</h2>
    </div>
      {{ page.content|raw }}
  {% endblock %}
