body{
  // background-color: #E5E5E5;
}

#front-banner{
  display: flex;
  margin:auto;
  width: 49vw;
  height: 49vw;
  margin-bottom: 3vw;
  min-width: 350px;
  min-height: 350px;
  border-radius: 50%;
	background: linear-gradient(-45deg, #3900F8, #DD00F8, #39E9F8);
	background-size: 500% 500%;
	animation: Gradient 25s ease infinite;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .front-banner-text{
    color: white;
  }
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

// controls iterative list of site pages
.front-site-pages{
  // controls preview content for site pages
  .content-space{
    a p{
      color: #50596c;
    }
    a:hover{
      text-decoration: none;
    }
    h2 {
      margin-top: 20px;
      text-align: left;
    }
  }
  // controls icons displayed with previews
  img.font-icons{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 100%;
  }
}
