
#front-banner{
  display: flex;
  margin:auto;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-height: 350px;
  border-radius: 50%;
	background: linear-gradient(-45deg, #3900F8, #DD00F8, #39E9F8);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
